@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";

@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$cleareye-blue: #3e6282;
$split-complement-light-green: #ebead4;
$cleareye-blue-darker: #2b445a;
$cleareye-blue-lighter: #c7d7e4;

$theme-colors: (
  "primary": $cleareye-blue,
  "light": $split-complement-light-green,
  "dark": $cleareye-blue-darker

);

section.blurb {
  background-color: $cleareye-blue-lighter;
  text-align: center;  
}

h1, h2, h3, h4 {
  font-family: 'Questrial', sans-serif
}

p {
  font-family: 'Open Sans', sans-serif;
}

section.body-section {
  padding: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  p {
    font-size: .85rem;
  }
  h4{
    color: $cleareye-blue;
  }
}
section.alternate-section {
  background-color: $split-complement-light-green;
}

@import "../node_modules/bootstrap/scss/bootstrap";